
<header>
  <div class="container">
      <a href="#" routerLink="/" class="logo">Recipe Explorer</a>
      <nav>

      <mat-menu #rootMenu="matMenu">
        <button mat-menu-item [matMenuTriggerFor]="subMenu">Power</button>
        <button mat-menu-item>System settings</button>
      </mat-menu>

      <mat-menu #subMenu="matMenu">
        <button mat-menu-item>Shut down</button>
        <button mat-menu-item>Restart</button>
        <button mat-menu-item>Hibernate</button>
      </mat-menu>

      <!-- <button mat-icon-button [matMenuTriggerFor]="rootMenu">
        <mat-icon>more_vert</mat-icon>
      </button> -->
      



        <ul>
          <li > <!-- dont show this if a user is logged in -->
            <a href="#" routerLink="/login-page"> Login </a>
          </li>
          <li > <!-- only show this if a user is logged in -->
            <a [matMenuTriggerFor]="rootMenu" #locationMenuTrigger="matMenuTrigger" (mouseover)="locationMenuTrigger.openMenu()"> User </a>
          </li>
          <li>
            <a href="#" routerLink="/"> Search </a>
          </li>
        </ul>


      </nav>
    </div>

</header>
    
    
    <!--
    <div class="header-right">
        <app-menu-button>Home</app-menu-button>

        <a href="#home">Home</a>
      <a href="#contact">Contact</a>
      <a href="#login">About</a>
      
    </div>
    -->
