<!-- 
  TODO: would be nice to not show everything to everyone...
 -->


<header>
  <div class="container">
      <a href="#" routerLink="/" class="logo">Recipe Explorer</a>
      <nav>

      <mat-menu #rootMenu="matMenu">
        <button mat-menu-item [matMenuTriggerFor]="subMenu">Manage</button>
        <button routerLink="/protected/dashboard" mat-menu-item>Dashboard</button>
      </mat-menu>

      <mat-menu #subMenu="matMenu">
        <button routerLink="/add-recipe" mat-menu-item>Add Recipe</button>
        <button routerLink="/manage-user" mat-menu-item>Manage User</button>
        <button routerLink="/secret" mat-menu-item>Secret...</button>
      </mat-menu>
      
      <mat-menu #adminMenu="matMenu">
        <button routerLink="/manage-recipes" mat-menu-item>Manage Recipes</button>
        <button routerLink="/manage-comments" mat-menu-item>Manage Comments</button>
        <button routerLink="/manage-users" mat-menu-item>Manage Users</button>
      </mat-menu>



      <ul>
        <div *ngIf="user;then loggedIn else loggedOut"></div>

        
        <ng-template #loggedIn>
          <div *ngIf="user!.is_staff; then isStaff else isUser"></div>

          <ng-template #isStaff>
            <li > <!-- only show this if an admin is logged in -->
              <a [matMenuTriggerFor]="adminMenu" #locationMenuTrigger="matMenuTrigger"> Admin </a>
            </li>

            <li > <!-- only show this if a user is logged in -->
              <a [matMenuTriggerFor]="rootMenu" #locationMenuTrigger="matMenuTrigger"> User </a>
            </li>
            

          </ng-template>

          <ng-template #isUser>
            
          <li > <!-- only show this if a user is logged in -->
            <a [matMenuTriggerFor]="rootMenu" #locationMenuTrigger="matMenuTrigger"> User </a>
          </li>

          </ng-template>
          

        </ng-template>


        <ng-template #loggedOut>
          <li> <!-- dont show this if a user is logged in -->
            <a href="#" routerLink="/login-page"> Login </a>
          </li>

        </ng-template>

        

        <li>
          <a href="#" routerLink="/"> Search </a>
        </li>

        
          
      </ul>


      </nav>
    </div>

</header>