div {
    margin-left: 1em;
    margin-right: 1em;
}

img {
    margin-top: 1em;
    width:50%;
    height:auto;
    height: 30rem;
    object-fit: cover;
    object-position: 100% 0;
}

.author {
    font-size: .8rem;
}

table {
    width: 30%;
    border-collapse: collapse;
}

table, th, td {
    border:1px solid black;
}