<div *ngIf="recipe">
    <button routerLink="/edit-recipe/{{recipe.slug}}">
        Edit Recipe
    </button>
    <button routerLink="" (click)="deleteButton()">
        Delete Recipe
    </button>


    <img src="../../assets/images/{{recipe.slug}}.jpg" onerror="if (this.src != '../../assets/images/default.jpg') this.src = '../../assets/images/default.jpg';" alt="">
    <h1>{{recipe.name}}</h1>
    <div class="description">
        {{recipe.description}}
    </div>

    <h2>
        Ingredients:
    </h2>

    <table >
        <tr *ngFor="let ingredient of recipe.ingredients" title="{{ingredient.ingredient.description}}">
            <td>
                {{ingredient.ingredient.name}}
            </td>
            <td>
                {{ingredient.amount}}
            </td>
        </tr>
    </table>

    <!-- {{recipe | json}} -->




</div>
<app-comments [recipeID]="recipeID"> </app-comments>