<div *ngIf="recipeSlug">
    <button routerLink="/edit-recipe/{{recipeSlug.slug}}">
        Edit Recipe
    </button>


    <img src="{{recipeSlug.recipe.picture}}" onerror="if (this.src != '../../assets/images/default.jpg') this.src = '../../assets/images/default.jpg';" alt="">
    <h1>{{recipeSlug.recipe.name}}</h1>
    <div class="description">
        {{recipeSlug.recipe.description}}
    </div>

    <h2>
        Ingredients:
    </h2>

    <table >
        <tr *ngFor="let ingredient of recipeSlug.recipe.ingredients" title="{{ingredient.ingredient.description}}">
            <td>
                {{ingredient.ingredient.name}}
            </td>
            <td>
                {{ingredient.amount}}
            </td>
        </tr>
    </table>

    <!-- {{recipeSlug.recipe | json}} -->


    <app-comments [recipeID]="recipeID"> </app-comments>


</div>