<ul>
    <li *ngFor="let recipe of recipes">
        <a href="#" routerLink="/recipe-page/{{recipe.slug}}">
            <!-- <a href="#" routerLink="/login-page"> Login</a> -->

            <img src="../../assets/images/{{recipe.slug}}.jpg" onerror="if (this.src != '../../assets/images/default.jpg') this.src = '../../assets/images/default.jpg';" alt="">

            <div class ="content"> 
                <div class="name">
                    {{recipe.recipe.name}}
                </div>
                <div>
                    <!-- <span class="favorite {{recipe.favorite?'':'not'}}">
                        ❤
                    </span> -->
                </div>
                <div class="product-item-footer">
                    <div class="tags">
                        <span *ngFor="let category of recipe.recipe.categories"> 
                            {{category.name}}
                        </span>
                    </div>
                    <!-- <div class="cook-time">
                        <span>🕑</span>
                        {{food.cookTime}}
                    </div> -->
                </div>
            </div>
        </a>
    </li>
    <!-- the card for adding a recipe, TODO: only show to logged in users -->
    <li>
        <a href="#" routerLink="/add-recipe">
            <img src="../../assets/images/default.jpg" alt="">

            <div class ="content"> 
                <div class="name">
                    This could be your recipe
                </div>
                <div class="product-item-footer">
                    <div class="tags">
                        <span> press </span> <span> here </span> <span> to </span> <span> upload </span> <span> a </span> <span> recipe </span> 
                    </div>
                </div>
            </div>
        </a>
    </li>
</ul>