<ul>
    <li *ngFor="let recipe of recipes">
        <a>
            <img src="../../assets/images/{{recipe.slug}}.jpg" alt="">
            <div class ="content"> 
                <div class="name">
                    {{recipe.name}}
                </div>
                <div>
                    <!-- <span class="favorite {{recipe.favorite?'':'not'}}">
                        ❤
                    </span> -->
                </div>
                <div class="product-item-footer">
                    <div class="tags">
                        <span *ngFor="let category of recipe.categories"> 
                            {{category.name}}
                        </span>
                    </div>
                    <!-- <div class="cook-time">
                        <span>🕑</span>
                        {{food.cookTime}}
                    </div> -->
                </div>
            </div>
        </a>
    </li>
</ul>